In [1]:
import pandas as pd
from os import listdir

In [2]:
suffix = ".csv"
filenames = listdir()
files = [f for f in filenames if f.endswith(suffix)]

if len(files) == 1:
    d = pd.read_csv(files[0], parse_dates=['DATE'], low_memory=False)
    d = d[['DATE', 'AWND', 'PRCP', 'TAVG', 'TMAX', 'TMIN']]
else:
    d = pd.DataFrame()
    for f in files:
        new_df = pd.read_csv(f, parse_dates=['DATE'], low_memory=False)
        new_df = new_df[['DATE', 'AWND', 'PRCP', 'TAVG', 'TMAX', 'TMIN']]
        if d.empty:
            d = new_df
        else:
            d = pd.concat([d, new_df], axis=0, ignore_index=True)

In [3]:
d.head()

        DATE   AWND      PRCP       TAVG       TMAX       TMIN
0 2012-01-01  6.082  0.000000  51.750000  60.758621  43.689655
1 2012-01-02  2.818  0.000000  50.625000  59.620690  43.724138
2 2012-01-03  1.654  0.000426  51.875000  59.862069  43.965517
3 2012-01-04  2.326  0.000000  55.555556  63.862069  43.586207
4 2012-01-05  4.698  0.000000  54.181818  64.343750  42.562500

In [9]:
files

['agg_wx_data.csv',
 'SF_WX_Data_2000_2005.csv',
 'SF_WX_Data_2006_2011.csv',
 'SF_WX_Data_2012_2017.csv']

In [7]:
new_df = d.groupby(['DATE'], as_index=False).mean()

In [8]:
new_df.head()

        DATE   AWND      PRCP       TAVG       TMAX       TMIN
0 2000-01-01  7.962  0.000000  46.357143  52.800000  41.900000
1 2000-01-02  6.310  0.000000  44.285714  54.166667  36.900000
2 2000-01-03  3.758  0.001250  47.642857  57.933333  38.233333
3 2000-01-04  3.894  0.066667  47.857143  55.866667  39.500000
4 2000-01-05  5.502  0.002917  50.071429  59.866667  40.366667

In [35]:
new_df.to_csv('agg_wx_data.csv', index=False)