In [1]:
import pandas as pd

In [24]:
files = !ls *.csv # IPython magic
if len(files) == 1:
    d = pd.read_csv(files[0], parse_dates=['DATE'])
    d = d[['DATE', 'AWND', 'PRCP', 'TAVG', 'TMAX', 'TMIN']]
else:
    d = pd.concat([pd.read_csv(f, index_col=0, header=None, axis=1) for f in files], keys=files)
    d = d[['DATE', 'AWND', 'PRCP', 'TAVG', 'TMAX', 'TMIN']]

/Users/melaniecostello/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,9,11,13,19,21,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
d.head()

        DATE  AWND  PRCP  TAVG  TMAX  TMIN
0 2012-01-01   NaN   NaN  51.0  61.0  46.0
1 2012-01-02   NaN   NaN  49.0  55.0  45.0
2 2012-01-03   NaN   NaN  50.0  57.0  45.0
3 2012-01-04   NaN   NaN  54.0  62.0  47.0
4 2012-01-05   NaN   NaN  52.0  63.0  45.0

In [33]:
new_df = d.groupby(['DATE'], as_index=False).mean()

In [34]:
new_df.head()

        DATE   AWND      PRCP       TAVG       TMAX       TMIN
0 2012-01-01  6.082  0.000000  51.750000  60.758621  43.689655
1 2012-01-02  2.818  0.000000  50.625000  59.620690  43.724138
2 2012-01-03  1.654  0.000426  51.875000  59.862069  43.965517
3 2012-01-04  2.326  0.000000  55.555556  63.862069  43.586207
4 2012-01-05  4.698  0.000000  54.181818  64.343750  42.562500

In [35]:
new_df.to_csv('agg_wx_data.csv', index=False)