In [1]:
import pandas as pd
from os import listdir

In [192]:
dirs = ["sf_pop_2011/", "sf_pop_2012/", "sf_pop_2013/", "sf_pop_2014/", "sf_pop_2015/"]
# dirs = ["sf_pop_2011/", "sf_pop_2012/"]
data_files = []
suffix = ".csv"
bad_word = "metadata"

# Iterate through directories to assemble list of paths to files we want to parse
for d in dirs:
    files = [f for f in listdir(d) if f.endswith(suffix) and bad_word not in f]
    for f in files:
        data_files.append(d + f)

In [193]:
print(data_files)

['sf_pop_2011/ACS_11_5YR_DP05_with_ann.csv', 'sf_pop_2012/ACS_12_5YR_DP05_with_ann.csv', 'sf_pop_2013/ACS_13_5YR_DP05_with_ann.csv', 'sf_pop_2014/ACS_14_5YR_DP05_with_ann.csv', 'sf_pop_2015/ACS_15_5YR_DP05_with_ann.csv']

In [198]:
df = pd.DataFrame()

for d in data_files:
    # parse year from filename
    end = d.find("/ACS")
    start = end - 4
    year = d[start:end]
#     print(year)
    
    # read csv & get correct columns
    new_df = pd.read_csv(d, header=None, skiprows=[0, 1], usecols=[i for i in range(327)])
    new_df["Year"] = year

    if year == '2015':
        cols = new_df.columns
        print(cols)
        

    # Conditional check for proper concatenation
    if df.empty:
        df = new_df
    else:
        df = pd.concat([df, new_df], axis=0, ignore_index=True)

# df.columns = cols

Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,
       ...
          318,    319,    320,    321,    322,    323,    324,    325,    326,
       'Year'],
      dtype='object', length=328)

In [197]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,318,319,320,321,322,323,324,325,326,Year
0,8600000US89010,89010,ZCTA5 89010,313,92,313,(X),174,57,55.6,...,9.9,13,17,4.2,5.8,231,47,(X),(X),2011
1,8600000US89019,89019,ZCTA5 89019,2172,731,2172,(X),1324,455,61.0,...,1.5,78,56,3.6,3.2,1171,256,(X),(X),2011
2,8600000US89060,89060,ZCTA5 89060,10691,1079,10691,(X),5342,622,50.0,...,0.3,155,126,1.4,1.2,5252,362,(X),(X),2011
3,8600000US89061,89061,ZCTA5 89061,4658,708,4658,(X),2490,436,53.5,...,0.7,48,46,1.0,1.0,2250,221,(X),(X),2011
4,8600000US89439,89439,ZCTA5 89439,1457,233,1457,(X),797,131,54.7,...,2.2,0,89,0.0,2.2,762,107,(X),(X),2011

In [187]:
print(len(df))

8846

In [162]:
df.Year.unique()

array(['2011', '2012'], dtype=object)